/** {
	border: 1px solid red !important;
}
*/
.grey-link {
	color: #777;
}

.grey-link:hover {
	color: #777;
}

.vertical-middle {
	position: absolute;
	margin-top: 20px;
	margin-bottom: 10px;
}

.no-margin {
	margin: 0;
}

.alert-margin-top {
	margin-top: 15px;
}

.alert-padding {
	padding: 2px;
	padding-left: 5px;
}

.right-zero {
	position: absolute;
	right: 15px;
}

.form-inline > * {
   margin-left: 2px;
   margin-right: 2px;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;
}

.align-btn {
	position: absolute;
	top: 15px;
}

.bottom-margin {
	margin-bottom: 15px;
}

.top-zero {
	margin-top: 0;
}

.link-align {
	padding: 14px 12px;
}

.link-align:hover {
	text-decoration: none;
}

.like-link {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.right-space {
	margin-right: 5px;
}

.del-right-margin {
	margin-right: 15px;
}

.username:hover {
	color: white;
	text-decoration: none;
}

.top-15 {
	margin-top: 15px;
}

.navbar-img {
	margin-top: 8px;
	margin-left: 15px;
}

.success-border {
	border-color: #d6e9c6;
}

.navbar-default .navbar-nav>li>a {
	margin-left: 45px;
}

.lead {
	margin: 0;
}

.profile-header {
	/*background-color: #145414;*/
	background-color: #444C38
;
	padding-top: 20px;
	padding-bottom: 20px;
}

.bottom-0 {
	margin-bottom: 0;
}

.color-white {
	color: white;
}

/*.input-group.date {
	margin-left: 50px;
}*/

.light-green {
	color: #d6e9c6;
}

.header-input {
	background-color: inherit;
	border-color: #d6e9c6;
	color: #d6e9c6;
}

.header-input:focus {
	color: #d6e9c6;
}

.user-heading {
	padding-top: 15px;
	padding-bottom: 15px;
}

.user-image {
	padding-right: 0;
}

.top-10 {
	margin-top: 10px;
}

.nav-pills>li.active>a.green-pills,
.nav-pills>li.active>a.green-pills:focus,
.nav-pills>li.active>a.green-pills:hover {
	color: white;
	background-color: #5cb85c;
}

.nav-pills>li>a.green-pills {
	/* green pill has orange color unhovered*/
	color: #f0ad4e; 
}

.nav-pills>li>a.green-pills:hover {
	color: #5cb85c;
	background-color: #dff0d8;

}

.nav-pills>li.active>a.orange-pills,
.nav-pills>li.active>a.orange-pills:focus,
.nav-pills>li.active>a.orange-pills:hover {
	color: white;
	background-color: #f0ad4e;
}

.nav-pills>li>a.orange-pills {
	/*oragne pill has green color unhovered*/
	color: #5cb85c;
}

.nav-pills>li>a.orange-pills:hover {
	color: #f0ad4e;
	background-color: #fcf8e3;
}

.no-padding {
	padding: 0;
}

