/** {
	border: 1px solid red !important;
}
*/
.grey-link {
	color: #777;
}

.grey-link:hover {
	color: #777;
}

.vertical-middle {
	position: absolute;
	margin-top: 20px;
	margin-bottom: 10px;
}

.no-margin {
	margin: 0;
}

.alert-margin-top {
	margin-top: 15px;
}

.alert-padding {
	padding: 2px;
	padding-left: 5px;
}

.right-zero {
	position: absolute;
	right: 15px;
}

.form-inline > * {
   margin-left: 2px;
   margin-right: 2px;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;
}

.align-btn {
	position: absolute;
	top: 15px;
}

.bottom-margin {
	margin-bottom: 15px;
}

.top-zero {
	margin-top: 0;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: #5cb85c;
}

.green-nav-pill {
	color: #5cb85c;
}

.link-align {
	padding: 14px 12px;
}

.link-align:hover {
	text-decoration: none;
}

.like-link {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.right-space {
	margin-right: 5px;
}

.del-right-margin {
	margin-right: 15px;
}

.navbar-img {
	margin-top: 7.5px;
}


