{% extends "header.html" %}
{% block body %}
<div class="container">
<!-- Code for the design dad prefers -->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
        <!-- Using active colored buttons instead. -->
        <ul class="nav nav-pills warning">
            <li role="InputDoneList" class="active"><a href="/">Done List</a></li>
            <li role="presentation"><a class="green-nav-pill" href="/todo">To Do List</a></li>
        </ul>
        <!-- <a href="/" class="btn btn-success active" role="button"><b>Done List</b></a>
        <a href="/todo" class="btn btn-warning" role="button">To Do List</a> -->
      	</div>
        <div class="col-md-6">
          <h4 class="no-margin pull-right"><span class="label label-default">{{ now }}</span></h4>
        </div>
      </div><!-- /.row -->
      <div class="row">
        <div class="col-md-12">
          <form method="post" class="alert-margin-top">
            <div class="form-group">
              <textarea class="form-control" rows="3" id="InputDoneList" name="done_task">{{ edit_task_content }}</textarea>
            </div>
            {% if error %}
              <div class="alert alert-danger alert-padding" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ error }}
              </div>
            {% endif %}
            {% block function %}
            {% endblock %}
          </form>
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      {% if done_list %}
      <div class="row">
        <div class="col-md-12">
        <!-- Panel was default, trying something new. -->
          <!-- <div class="panel panel-success">
            <div class="panel-heading">{{ user.username }}'s work today</div>
            <div class="panel-body"></div>
          </div> --> 
          <h2 class="h3 text-muted top-zero">{{ user.username }}'s work today</h2>
          {% for i in range(done_list.tasks|length) %}
          {% if i != edit_no %}
            <ul class="bg-success">
              <li>
                <a href="/_edit?task={{ i }}" class="pull-right grey-link right-space">edit</a>
                <p class="h4">{{ done_list.tasks[i] }}</p>
              </li>
            </ul>
            {% endif %}
          {% endfor %}
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      {% endif %}
    </div><!-- /.col-md-8 -->
  	<div class="col-md-4">
     <div class="panel panel-default">
        <div class="panel-heading">Team @ Spacecom</div>
        <div class="panel-body">
          {% for this_user in group_users %}
            {% if this_user.username != user.username %}
              <li><a href="/{{ this_user.username }}">{{ this_user.username }}</a></li>
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->

<!-- Code for Textarea fixed to the bottom -->
<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  <div class="row">
  <div class="col-md-8">
    <form method="post" class="alert-margin-top" id="DoneList">
      <div class="form-group">
        <textarea class="form-control" rows="3" id="InputDoneList" name="done_task"></textarea>
      </div>
    </form>
  </div>
  <div class="col-md-1">
    <input type="submit" name="onedone" value="Add" class="btn btn-lg btn-success align-btn" form="DoneList" />
  </div>
  </div>
  </div>
</nav> -->

<!-- Code for stacked nav pills on the left -->
<!-- <div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="InputDoneList" class="active"><a href="/">Done List</a></li>
      <li role="presentation"><a href="/todo">To Do List</a></li>
    </ul>
  </div>
  <div class="col-md-7">
    <form method="post">
      <div class="form-group">
        <textarea class="form-control" rows="6" id="InputDoneList" name="done_task"></textarea>
      </div>
      <input type="submit" name="onedone" value="Add" class="btn btn-success right-zero" />
    </form>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Team @ Spacecom</div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div> -->
{% endblock %}