{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><h1 class="h3 no-margin">STL Workday</h1></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Trying date label instead. -->
      <!-- <p class="navbar-text">{{ now }}</p> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/{{ user.username }}">{{ user.username }}</a></li>
		    <li><!-- <a href="/signout">Sign Out</a> -->
          <form method="post" action="/signout" class="form-inline navbar-from navbar-right">
              <input type="submit" class="btn btn-link navbar-button link-align" name = "signout" value="Sign Out" />
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<!-- Code for the design dad prefers -->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
        <!-- Using active colored buttons instead. -->
        <ul class="nav nav-pills warning">
            <li role="InputDoneList" class="active"><a href="/">Done List</a></li>
            <li role="presentation"><a class="green-nav-pill" href="/todo">To Do List</a></li>
        </ul>
        <!-- <a href="/" class="btn btn-success active" role="button"><b>Done List</b></a>
        <a href="/todo" class="btn btn-warning" role="button">To Do List</a> -->
      	</div>
        <div class="col-md-6">
          <h4 class="no-margin pull-right"><span class="label label-default">{{ now }}</span></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form method="post" class="alert-margin-top">
            <div class="form-group">
              <textarea class="form-control" rows="4" id="InputDoneList" name="done_task"></textarea>
            </div>
            {% if error %}
              <div class="alert alert-danger alert-padding" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  {{ error }}
              </div>
            {% endif %}
            <input type="submit" name="add_task" value="Add" class="btn btn-success pull-right" />
          </form>
        </div>
      </div>
      {% if done_list %}
      <div class="row">
        <div class="col-md-12">
        <!-- Panel was default, trying something new. -->
          <!-- <div class="panel panel-success">
            <div class="panel-heading">{{ user.username }}'s work today</div>
            <div class="panel-body"></div>
          </div> --> 
          <h2 class="h3 text-muted top-zero">{{ user.username }}'s work today</h2>
          {% for i in range(done_list.tasks|length) %}
            <ul class="bg-success">
              <li>
                <form method="post" class="pull-right">
                  <button type="submit" class="btn btn-link like-link grey-link" name = "edit_task" value="{{ i }}">edit</button>
                  <button type="submit" class="btn btn-link like-link grey-link" name = "delete_task" value="{{ i }}">del</button>
                </form>
                <p class="h4">{{ done_list.tasks[i] }}</p>
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  	<div class="col-md-4">
     <div class="panel panel-default">
        <div class="panel-heading">Team @ Spacecom</div>
        <div class="panel-body">
          {% for this_user in group_users %}
            {% if this_user.username != user.username %}
              <li><a href="/{{ user.username }}">{{ this_user.username }}</a></li>
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    </div>
  </div>

<!-- Code for Textarea fixed to the bottom -->
<!-- <nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  <div class="row">
  <div class="col-md-8">
    <form method="post" class="alert-margin-top" id="DoneList">
      <div class="form-group">
        <textarea class="form-control" rows="3" id="InputDoneList" name="done_task"></textarea>
      </div>
    </form>
  </div>
  <div class="col-md-1">
    <input type="submit" name="onedone" value="Add" class="btn btn-lg btn-success align-btn" form="DoneList" />
  </div>
  </div>
  </div>
</nav> -->

<!-- Code for stacked nav pills on the left -->
<!-- <div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="InputDoneList" class="active"><a href="/">Done List</a></li>
      <li role="presentation"><a href="/todo">To Do List</a></li>
    </ul>
  </div>
  <div class="col-md-7">
    <form method="post">
      <div class="form-group">
        <textarea class="form-control" rows="6" id="InputDoneList" name="done_task"></textarea>
      </div>
      <input type="submit" name="onedone" value="Add" class="btn btn-success right-zero" />
    </form>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Team @ Spacecom</div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div> -->
{% endblock %}