{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><h1 class="h3 no-margin">STL Workday</h1></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <p class="navbar-text">{{ now }}</p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/{{ user.username }}">{{ user.username }}</a></li>
		    <li><a href="/signout">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
<!-- <div class="row">
  <div class="col-md-8">
    <ul class="nav nav-pills nav-stacked">
      <li role="InputDoneList" class="active"><a href="/">Done List</a></li>
      <li role="presentation"><a href="/todo">To Do List</a></li>
    </ul>
		<form>
		<div class="form-group">
			<label for="InputDoneList"><h2 class="h3">Done List <span class="label label-primary">{{ now }}</span></h2></label>
		</div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div> -->

<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="InputDoneList" class="active"><a href="/">Done List</a></li>
      <li role="presentation"><a href="/todo">To Do List</a></li>
    </ul>
  </div>
  <div class="col-md-7">
    <form method="post">
      <div class="form-group">
        <textarea class="form-control" rows="6" id="InputDoneList" name="done_task"></textarea>
      </div>
      <input type="submit" name="onedone" value="Add" class="btn btn-success right-zero" />
    </form>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Team @ Spacecom</div>
      <div class="panel-body">
      </div>
</div>
  </div>
</div>
{% endblock %}