{% extends "header.html" %}
{% block body %}
<div class="container">
	<div class="row top-70">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading h3 no-margin"><a class="panel-link" href="/login">Sign In</a></div>
				<div class="panel-body">
					<form method="post">
						<div class="form-group">
							<label for="InputEmail" class="sr-only">Email</label>
							<input type="email" name="username_or_email" class="form-control" id="InputEmail" placeholder="Email or Username" value="{{ username_or_email }}" />
						</div>
						<div class="form-group">
							<label for="InputPassword" class="sr-only">Password</label>
							<input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password" />
						</div>
						{% if login_error %}
							<div class="alert alert-danger alert-padding" role="alert">
	  							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  							<span class="sr-only">Error:</span>
	  							{{ login_error }}
							</div>
						{% endif %}
						<input type="submit" name="signin" value="Sign In" class="btn btn-success pull-right" />
						<input type="submit" name="forgot" value="Forgot Password" class="btn btn-danger pull-right del-right-margin" />
					</form>
				</div>
			</div>
			{% if reset_msg %}
			<div class="alert alert-success alert-padding" role="alert">
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
				<span class="sr-only">Success:</span>
				{{ reset_msg }}
			</div>
			{% endif %}
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}