{% extends "header.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="/img?img_id={{ this_user.key() }}&dimensions=500x350" alt="{{ this_user.username }}'s profile picture">
					<div class="caption">
						<a class="h3 username" href="/{{ this_user.username }}">{{ this_user.fullname }} <small>@{{ this_user.username }}</small></a>
						<p>Spacecom Sofware</p>
					</div>
			</div>
		</div><!-- /.col-md-4 -->
		<div class="col-md-8">
			<form>
				<label class="h2 top-zero" for="datepicker">{{ this_user.username }}'s work on:</label>
				<div id="sandbox-container">
					<div class="input-group date">
						<input type="text" class="form-control" id="datepicker" name="date" value="{{ date_key }}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
					</div>
					<input type="submit" class="btn btn-default top-15" value="View">
				</div>
			</form>
			<script type="text/javascript">
				$(document).ready(function($) {
				$('#sandbox-container .input-group.date').datepicker({
				format: "dd-mm-yyyy",
				startDate: "{{ start_date }}",
				endDate: "{{ end_date }}",
				autoclose: true,
				todayHighlight: true});
				});
			</script>
			<ul class="list-group top-15">
              {% for i in range(user_done_list.tasks|length) %}
              <li class="list-group-item success-border">
                <p class="lead">{{ user_done_list.tasks[i] }}</p>
              </li>
              {% endfor %}
            </ul>
		</div><!-- /.col-md-8 -->
	</div><!-- /.row -->
</div>
{% endblock %}